/* CSS */
body {
  font-size: 16px;
}

p { 
  color: red;
  background-color: yellow;
}

h1 {
  background-color: green;
  font-family: "Times New Roman"; 
  font-size: 48pt; 
  text-align: center;

}

blockquote {
  text-align: justify; 
}

ol {
  list-style-type: lower-roman;
}

#title {
  text-align: center;
}
  
#plan {
  color: yellow;
  background-color: blue;
}

#categories {
  color: blue;
  background-color: red;
}

p.standout {
  color: purple;
  font-family: cursive;
  text-align: center;
}

.special {
  color: white;
  background-color: black;
}

.changeColor {
  color: red;
  font-size: 24pt;
}

.board {
  text-align: left;
  background-color: blue;
  width: 300px;
}




a:link { color: #FF0000; } 
a:visited { color: #00FF00; } 
a:hover { color: #FF00FF; }
/*p:first-line { color: red; } */
/* unvisited link */ /* visited link */
/* mouse over link */
body.main {
  /*
    background-image: url("TU-FANCY-5.jpg");
    background-repeat: no-repeat;
    */
  background-color: #00CCCC;
}
#board li.important strong {
  text-decoration: underline
}
body.categories {
  background-color: yellow;
}
